---
layout: default
---

<div class="row main-content">
  <div class="col-md-4">
    <h2 class="home">All Locations</h2>
    <div id="listings" class="list-group" >
    {% assign count = 0 %}{% for page in site.pages %}
      {% if page.layout == 'location' %}
      <button class="list-group-item" data-toggle="collapse" data-parent="#listings" data-target="#{{count}}">{{ page.title }}</button>
      <div id="{{count}}" class="collapse details">
        <a href="{{ page.url }}" class="pull-right"><strong>More Info ></strong></a>
        <p><strong>Address:</strong> {{ page.address }}</p>
        <p><strong>Installed:</strong> {{ page.install_date }}</p>
        <img src="/images/{{ page.image }}" class="sidebar" />
        
      </div>
      {% assign count = count | plus: 1 %}
      {% endif %}
    {% endfor %}
    </div>
  </div>

  <div class="col-md-8">
    <div id="map-container">
      <div id="map"></div>

      <!-- inner mapping shadow -->
      <!-- <i class="map-top"></i> -->
      <i class="map-left"></i>
    </div>
  </div>
</div>

<script>
markerMap = {};
var point, coloredMarker;


  function expand(details) {
    console.log("expand function");
    var hello = $('#' + details).collapse();
    hello.on('shown', console.log("this is shown asshole"));

    $('#' + details).on({
      'shown': function(){
          console.log("SHOWN");
      },
      hidden: function(){
          console.log("HIDDEN");
      }
    });

  }

  // LIST CLICK
  // close any open items when clicking to show another
  // and add .active to denote open element
//   $('.list-group-item').click(function() {
    
    

//     // get index of element, remove beggining '#5' => '5'
//     point = parseInt($(this).attr('data-target'));
//     console.log(point);
//     var marker = markerMap[point];



    
//     $('#'+point).on({
//     'shown': function(){
//         console.log("SHOWN");
//     },
//     hide: function(){
//         console.log("HIDDEN");
//     }
// });

//     // if clicked the same element, remove highlight
//     if ($(this).hasClass('active')) {
//       $('.active').removeClass('active');
//       $('.hover').removeClass('hover');
//       marker.setIcon(parkletIcon);
//     }
//     else {
//       $('.active').removeClass('active');
//       $('.hover').removeClass('hover');
//       $(this).addClass('active');
//       if (typeof coloredMarker != 'undefined') {
//         coloredMarker.setIcon(parkletIcon)
//       }
//       marker.setIcon(parkletIconHover);
//       coloredMarker = marker;
//     }

//   });


  // highlight listing item like it's being hovered over on map point hover
  function highlightListing(point) {
    listItem = "#" + point;
    // don't highlight if the point is current active item
    if (! $("button[data-target='" + listItem + "']").hasClass('active')) {
      $("button[data-target='" + listItem + "']").toggleClass('hover');
    }
  }

</script>

<script src="map.geojson"></script>
<script>

  var map = L.map('map').setView([37.78131, -122.42597], 13);
  var markers = new Array();
  var markerCount = 0;

  // Leaflet point marker creation, each point is on a new layer
  function onEachFeature(feature, layer) {
    markers.push(markerCount);
    feature.properties.index = markerCount;
    layer.on({
        mouseover: hoverFeature,
        mouseout: unhoverFeature,
        mousedown: clickFeature
    });
    markerCount++;
  }

  // Hovering Leaflet map
  function hoverFeature() {
    var point = this.feature.properties.index;
    highlightListing(point);
  }

  // Unhovering Leaflet map
  function unhoverFeature() {
    var point = this.feature.properties.index;
    highlightListing(point);
  }


  // Clicking Leaflet map
  function clickFeature() {
    var point = this.feature.properties.index;
    // if a current marker is colored, remove and higlight current selected
    if (typeof coloredMarker != 'undefined') {
      coloredMarker.setIcon(parkletIcon);
    }
    this.setIcon(parkletIconHover);
    coloredMarker = this;  
    $('button[data-target="#' + point + '"]').removeClass('hover');
    $('button[data-target="#' + point + '"]').click();
  }

  function toggleList(state) {
    listItem = "#" + point;
    if (state == 'active') {
    // don't highlight if the point is curren active item
    if (! $("button[data-target='" + listItem + "']").hasClass('active')) {
      $("button[data-target='" + listItem + "']").toggleClass('hover');
    }
    }
  }

  // Leaflet tiles
  L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png', {maxZoom: 18}).addTo(map);

  // Extending Leaflet default markers with AwesomeMarkers library
  var parkletIcon = L.AwesomeMarkers.icon({icon: 'coffee', color: 'green'});
  var parkletIconHover = L.AwesomeMarkers.icon({icon: 'coffee', color: 'blue'});


  // Initial Leaflet map creation function
  // Takes in generated .geojson file and renders map
  L.geoJson(data, {
    onEachFeature: onEachFeature,
    pointToLayer: function (feature, latlng) {
      var marker = new L.marker(latlng, {icon: parkletIcon});
      markerMap[markers.length] = marker;
      return marker;
    }
  }).addTo(map);



</script>