---
layout: default
---


<h1>All Locations</h1>

{% for page in site.pages %}
  {% if page.layout == 'location' %}
  <table>
    <tr>
      <th>
        Name
      </th>
      <th>
        Longitude
      </th>
      <th>
        Latitude
      </th>
    </tr>
    <tr>
      <td>{{ page.title }}</td>
      <td>{{ page.latitude }}</td>
      <td>{{ page.longitude }}</td>
    </tr>
  </table>
  {% endif %}
{% endfor %}

<h3>Map of All Parklets</h3>

<div id="map" style="width: 600px; height: 400px"></div>

<script src="map.geojson"></script>
<script>

  var map = L.map('map').setView([37.7750, -122.4183], 12);

  function onEachFeature(feature, layer) {
    var popupContent = document.createElement('div');
    popupContent.innerHTML = "<strong>" + feature.properties.name + "</strong>";

    if (feature.properties.image) {
      popupContent.innerHTML += '<br /><img src="/images/' + feature.properties.image + '" height="200px">';
    }
    console.log("attempting to add popup content");
    layer.bindPopup(popupContent);
  }


  L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png', {
    maxZoom: 18
  }).addTo(map);



  L.geoJson(data, {
    style: function (feature) {
      return { color: feature.properties.color };
    },
    onEachFeature: onEachFeature
  }).addTo(map);

  var parkIcon = L.icon({
    iconUrl: '/css/park2-18.svg'
  });



</script>