{% capture lvl %}{{ page.url | append:'index.html' | split:'/' | size }}{% endcapture %}

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/bootstrap.min.css" />
<link rel="stylesheet" href="https://unpkg.com/leaflet@0.6.4/dist/leaflet.css" />
<script src="https://unpkg.com/jquery@1.11.3/dist/jquery.min.js"></script>
<script src="{{ site.baseurl }}/assets/js/bootstrap.min.js"></script>
<script src="https://unpkg.com/leaflet@0.6.4/dist/leaflet.js"></script>

<link href="https://unpkg.com/font-awesome@3.2.1/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/leaflet.awesome-markers.css">
<script src="{{ site.baseurl }}/assets/js/leaflet.awesome-markers.min.js"></script>

<link rel="stylesheet" href="{{ site.baseurl }}/assets/css/style.css" />
<link rel="shortcut icon" href="{{ site.baseurl }}/assets/img/favicon.ico" />
