---
layout: default
---

<div class="row main-content">
	<div class="col-md-4 revealed">
		<h2>{{ page.title }}</h2>

		<img src="/images/{{ page.image }}" class="sidebar">
	</div>

	<div class="col-md-8">
		<div id="map-container">
			<div id="map"></div>

			<i class="map-top"></i>
			<i class="map-right"></i>
			<i class="map-bottom"></i>
			<i class="map-left"></i>
		</div>
	</div>
</div>



<script>

  var map = L.map('map').setView([ {{ page.latitude }}, {{ page.longitude }} ], 15);

  L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png', {
    maxZoom: 18
  }).addTo(map);

  var marker = L.marker([ {{page.latitude }}, {{ page.longitude }} ]).addTo(map);
  marker.bindPopup("<b>{{ page.address }}</b><br />Host: {{ page.title }}<br />Install Date: {{ page.install_date }}").openPopup();

</script>
