---
layout: default
---

<div class="row">
	<div class="col-md-4">
		<h2>{{ page.title }}</h2>

		<img src="/images/{{ page.image }}" width="100%">
	</div>

	<div class="col-md-8">
		<h3>Map of {{ page.address }}</h3>
		<div id="map" style="height: 400px"></div>
	</div>
</div>



<script>

  var map = L.map('map').setView([ {{ page.latitude }}, {{ page.longitude }} ], 15);

  L.tileLayer('http://{s}.tiles.mapbox.com/v3/examples.map-vyofok3q/{z}/{x}/{y}.png', {
    maxZoom: 18
  }).addTo(map);

  var marker = L.marker([ {{page.latitude }}, {{ page.longitude }} ]).addTo(map);
  marker.bindPopup("<b>{{ page.address }}</b><br />Host: {{ page.title }}<br />Install Date: {{ page.install_date }}").openPopup();

</script>
